body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/18776469-coracoes-de-amor-voadores-e-macios-brilhantes-sobre-um-fundo-azul-claro-para-o-dia-dos-namorados-gratis-foto.jpg);
    background-size: 100%;
    
}

button{
    position: relative; left: 190px;
}

.heart{
    height: 70px;
    width: 70px;
    background: #0810fc;
    position: relative ; 
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #0810fc;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }  

    80%{
        transform: rotate(-45deg) scale(1.0);
    }   

    100%{
        transform: rotate(-45deg) scale(0.8);
    }   
}

.heart:before{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #0810fc;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px  #0810fc;
}

.heart::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #0810fc;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #0810fc;
}

